#about {
    text-align:center;
}

#home {
    border: 2px solid transparent;
}

#home:hover {
    border: 2px solid black;
}

p {
    margin:auto;
    width:80%;
    font-size:20px;
    text-align:center;
}

#aboutPage {
    border: 2px solid black;
}

@media (max-width:480px) {
    #about {
        font-size:30px;
    }

    p {
       font-size:18px;
       max-width:90%;
    }
}