.header {
    background-color: aliceblue;
    padding-left: 10px;
    display: flex;
    margin-bottom: 50px;
}

.header a {
    text-decoration:none;
    color:inherit;
}

.extra-links {
    font-size: 1.6rem;
    text-align: right;
    width: 90%;
    flex-direction: row;
}

li {
    display: inline;
    margin-left: 50px;
    background-color:aliceblue;
    padding: 0.8%;
}