.header {
    background-color: aliceblue;
    padding-left: 10px;
    display: flex;
    margin-bottom: 50px;
    align-items: baseline;
}

.header h1 {
    font-size: 30px;
    border: 2px solid black;
    padding: 0.5%;
}

.header a {
    text-decoration: none;
    color: inherit;
}

#dropdown {
    display: none;
}

#line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #101010;
}


.extra-links {
    font-size: 1.6rem;
    text-align: right;
    width: 90%;
    flex-direction: row;
}

li {
    display: inline;
    margin-left: 50px;
    padding: 0.8%;
    border: 2px solid transparent;
}

li:hover {
    border: 2px solid black;
}
#dropdown {
    display: none;
}

@media (max-width:600px) {

    #dropdown {
        display: inline;
        padding-right: 5%;
    }

    .nav-menu {
        background-color: aliceblue;
        position:absolute;
        left:0%;
        gap: 0;
        width:100%;
        text-align:center;
    }

    li {
        display:block;
        margin: 3px 0;
    }

    li:hover {
        border:none;
    }

    li a {
        padding: 0.8%;
        border: 2px solid transparent;
    }

    li a:hover {
        border: 2px solid black;
    }
}